<app-header></app-header>
<router-outlet></router-outlet>
<button type="button" class="btn btn-pulse btn-pulse-border btn-primary" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-envelope"></i>
      </button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chat Box</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <p *ngFor="let msg of msgs">
                    {{msg}}
                </p>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <input type="text" #mymsg>
                <button type="button" class="btn btn-success" (click)="send(mymsg.value)">Send</button>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>